<div class="minimax-container" ng-controller="MiniMaxController as mm">
    <div class="cmd-window">
        <div class="cmd-title-bar">
            <div class="cmd-title">MINIMAX TERMINAL - Jogo da Velha</div>
            <div class="cmd-buttons">
                <div class="cmd-btn cmd-minimize">_</div>
                <div class="cmd-btn cmd-maximize">□</div>
                <a class="cmd-btn cmd-close" href="/treinar">×</a>
            </div>
        </div>
        
        <div class="cmd-body">
            <div class="cmd-board">
                <pre class="ascii-board">
  A   B   C
1 {{mm.board[0][0] || ' '}} | {{mm.board[0][1] || ' '}} | {{mm.board[0][2] || ' '}}
-----------
2 {{mm.board[1][0] || ' '}} | {{mm.board[1][1] || ' '}} | {{mm.board[1][2] || ' '}}
-----------
3 {{mm.board[2][0] || ' '}} | {{mm.board[2][1] || ' '}} | {{mm.board[2][2] || ' '}}
                </pre>
            </div>
            
            <div class="cmd-output">
                <div class="cmd-line" ng-if="mm.gameOver">Jogo terminado! {{mm.winner ? 'Vencedor: ' + mm.winner : 'Empate!'}}</div>
                <div class="cmd-line" ng-if="mm.gameOver">Digite 'reset' para jogar novamente</div>
                <div class="cmd-line" ng-repeat="line in mm.terminalLines track by $index">{{line}}</div>
            </div>
            
            <div class="cmd-input">
                <span class="cmd-prompt">C:\Users\Player&gt;</span>
                <input type="text" ng-model="mm.userInput" ng-keyup="mm.handleInput($event)" 
                       placeholder="" autofocus class="cmd-input-field">
            </div>
        </div>
    </div>
    
    <div class="minimax-tree">
        <div class="tree-title-bar">
            <div class="tree-title">Árvore de Decisão MiniMax</div>
            <div class="tree-buttons">
                <div class="tree-btn tree-minimize">_</div>
                <div class="tree-btn tree-close">×</div>
            </div>
        </div>
        <div class="tree-container" ng-bind-html="mm.treeVisualization | trustHtml"></div>
    </div>
</div>