/* Loading */
.loading {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--gray-color);
    margin: 1rem 0;
}

.no-data {
    text-align: center;
    padding: 2rem;
    color: var(--gray-color);
}

.no-data i {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* Tabela de Dados */
.data-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.data-table th, .data-table td {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #eee;
    border: 1px solid #ddd; /* linhas de guia */
}

.data-table th {
    background-color: var(--primary-color);
    color: white;
    ;
}

.data-table tr:hover {
    background-color: #f5f5f5;
}

.center-content {
    display: flex;
    justify-content: center;
}

.data-view {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.subtitle {
    color: var(--gray-color);
    margin-bottom: 1.5rem;
}

.data-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.data-controls input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px;
}

.data-controls select {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    font-size: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    color: #333;
}

.data-controls label {
    margin-right: 0.5rem;
    font-weight: 500;
}

.refresh-info {
    color: var(--gray-color);
    font-size: 0.9rem;
}

.table-responsive {
    overflow-x: auto;
}

.result-badge {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 500;
}

.result-badge.win {
    background-color: #e6f4ea; /* verde claro */
    color: #137333; /* verde escuro (sucesso) */
}

.result-badge.lose {
    background-color: #fce8e6; /* vermelho claro */
    color: #a50e0e; /* vermelho escuro (erro/perda) */
}

.result-badge.draw {
    background-color: #fef7e0; /* amarelo claro */
    color: #a46100; /* amarelo escuro (empate/alerta) */
}

.data-footer {
    margin-top: 1rem;
    text-align: right;
    color: var(--gray-color);
    font-size: 0.9rem;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.pagination-controls button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.pagination-controls button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}
.active-page {
    background-color: var(--secondary-color);
    font-weight: bold;
}

.pagination-controls button.active-page {
    background-color: var(--secondary-color);
    color: #000;
    font-weight: bold;
    border: 1px solid #ccc;
}